<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scholarship</title>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/font.css">

    <link rel="stylesheet" href="scholarship/css/style.css">
    <link rel="stylesheet" href="scholarship/css/step5.css">

</head>
<body>

    <div class="scholarship">
        <div class="container">
            
            <div class="scholarship__banner">
                <div class="scholarship-banner__logo">
                    <img class="scholarship-banner-logo__img" src="img/BUV-Logo-Transparent.png">
                </div>
                <div class="scholarship-banner__title">
                    <h3 class="scholarship-banner-title__heading">BUV SCHOLARSHIP</h3>
                </div>
            </div>

            <div class="scholarship__pagination">
                <div class="scholarship-pagination__item">
                    <a class="scholarship-pagination-item__btn" href="scholarship1.html">1</a>
                </div>
                <div class="scholarship-pagination__dash"></div>
                <div class="scholarship-pagination__item">
                    <a class="scholarship-pagination-item__btn" href="scholarship2.html">2</a>
                </div>
                <div class="scholarship-pagination__dash"></div>
                <div class="scholarship-pagination__item">
                    <a class="scholarship-pagination-item__btn" href="scholarship3.html">3</a>
                </div>
                <div class="scholarship-pagination__dash"></div>
                <div class="scholarship-pagination__item">
                    <a class="scholarship-pagination-item__btn" href="scholarship4.html">4</a>
                </div>
                <div class="scholarship-pagination__dash"></div>
                <div class="scholarship-pagination__item scholarship-pagination__item--active">
                    <a class="scholarship-pagination-item__btn" href="scholarship5.html">5</a>
                </div>
                <div class="scholarship-pagination__dash"></div>
                <div class="scholarship-pagination__item">
                    <a class="scholarship-pagination-item__btn" href="scholarship6.html">6</a>
                </div>
                <div class="scholarship-pagination__dash"></div>
                <div class="scholarship-pagination__item">
                    <a class="scholarship-pagination-item__btn" href="scholarship7.html">7</a>
                </div>
                <div class="scholarship-pagination__dash"></div>
                <div class="scholarship-pagination__item">
                    <a class="scholarship-pagination-item__btn" href="scholarship8.html">8</a>
                </div>
            </div>



            <form class="scholarship__form">
                <div class="scholarship__section">
                    <p class="scholarship__note">
                        Note: (<span class="required__symbol">*</span>) This field is required/ <span class="text__vi">Vui lòng không để trống thông tin này!</span>
                    </p>

                    <h3 class="scholarship-section__heading">PROPOSED STUDY PROGRAMMES</h3>

                    <div class="scholarship-section__field">

                        <fieldset class="scholarship-section__field-group scholarship-section__field-fieldset-group">
                            <legend class="scholarship-section__field-legen">1. STAFFORDSHIRE UNIVERSITY</legend>
                            <div class="">
                                <div class="scholarship-section__field-checkbox-group">
                                    <input type="checkbox" class="scholarship-section__field-checkbox-input">
                                    <label class="scholarship-section__field-checkbox-label"> BSc (Hons) International Business Management</label>
                                </div>
                                <div class="scholarship-section__field-checkbox-group">
                                    <input type="checkbox" class="scholarship-section__field-checkbox-input">
                                    <label class="scholarship-section__field-checkbox-label"> BA (Hons) Marketing Management</label>
                                </div>
                                <div class="scholarship-section__field-checkbox-group">
                                    <input type="checkbox" class="scholarship-section__field-checkbox-input">
                                    <label class="scholarship-section__field-checkbox-label"> BA (Hons) Tourism Management</label>
                                </div>
                                <div class="scholarship-section__field-checkbox-group">
                                    <input type="checkbox" class="scholarship-section__field-checkbox-input">
                                    <label class="scholarship-section__field-checkbox-label"> BA (Hons) Events Management</label>
                                </div>
                                <div class="scholarship-section__field-checkbox-group">
                                    <input type="checkbox" class="scholarship-section__field-checkbox-input">
                                    <label class="scholarship-section__field-checkbox-label"> BSc (Hons) Computer Games Design and Programming</label>
                                </div>
                                <fieldset class="scholarship-section__field-group scholarship-section__field-fieldset-group">
                                    <legend>BA (Hons) Contemporary Creative Practice</legend>
                                    <div class="">
                                        <div class="scholarship-section__field-checkbox-group">
                                            <input type="checkbox" class="scholarship-section__field-checkbox-input">
                                            <label class="scholarship-section__field-checkbox-label"> Graphic Design</label>
                                        </div>
                                        <div class="scholarship-section__field-checkbox-group">
                                            <input type="checkbox" class="scholarship-section__field-checkbox-input">
                                            <label class="scholarship-section__field-checkbox-label"> Illustration</label>
                                        </div>
                                        <div class="scholarship-section__field-checkbox-group">
                                            <input type="checkbox" class="scholarship-section__field-checkbox-input">
                                            <label class="scholarship-section__field-checkbox-label"> Photography</label>
                                        </div>
                                    </div>
                                    <div class="scholarship-section__field-group">
                                        <label class="text-italic  mr-1">An original Portfolio of Artwork (<a href="">Download template</a>)<span class="required__symbol">*</span></label>
                                        <input class="scholarship-section__field-file" type="file">
                                    </div>
                                </fieldset>
                                <fieldset class="scholarship-section__field-group scholarship-section__field-fieldset-group">
                                    <legend>BSc (Hons) Computer Science</legend>
                                    <div class="">
                                        <div class="scholarship-section__field-checkbox-group">
                                            <input type="checkbox" class="scholarship-section__field-checkbox-input">
                                            <label class="scholarship-section__field-checkbox-label"> Cyber Security</label>
                                        </div>
                                        <div class="scholarship-section__field-checkbox-group">
                                            <input type="checkbox" class="scholarship-section__field-checkbox-input">
                                            <label class="scholarship-section__field-checkbox-label"> Cloud Technologies</label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </fieldset>

                        <fieldset class="scholarship-section__field-group scholarship-section__field-fieldset-group">
                            <legend class="scholarship-section__field-legen">2. UNIVERSITY OF LONDON</legend>
                            <div class="">
                                <div class="scholarship-section__field-checkbox-group">
                                    <input type="checkbox" class="scholarship-section__field-checkbox-input">
                                    <label class="scholarship-section__field-checkbox-label"> BSc (Hons) Finance</label>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="scholarship-section__field-group scholarship-section__field-fieldset-group">
                            <legend class="scholarship-section__field-legen">3. BRITISH UNIVERSITY VIETNAM</legend>
                            <div class="">
                                <div class="scholarship-section__field-checkbox-group">
                                    <input type="checkbox" class="scholarship-section__field-checkbox-input">
                                    <label class="scholarship-section__field-checkbox-label"> BA (Hons) Finance and Economics</label>
                                </div>
                                <div class="scholarship-section__field-checkbox-group">
                                    <input type="checkbox" class="scholarship-section__field-checkbox-input">
                                    <label class="scholarship-section__field-checkbox-label"> BA (Hons) International Hospitality Management
                                    </label>
                                </div>
                            </div>
                        </fieldset>


                    </div>
                    <!-- /scholarship-section__field -->

                    <h3 class="scholarship-section__heading">ENGLISH LANGUAGE PROFICIENCY</h3>

                    <div class="scholarship-section__field">

                        <div class="scholarship-section__field-group scholarship-section__field-yn-group">
                            <label class="scholarship-section__field-label">Is English the language of your secondary/ high school or tertiary studies?<span class="required__symbol">*</span></label>
                            <div class="scholarship-section__field-yn-checkbox">
                                <div class="scholarship-section__field-checkbox-group">
                                    <input type="checkbox" class="scholarship-section__field-checkbox-yn-input">
                                    <label class="scholarship-section__field-checkbox-label"> Yes</label>
                                </div>
                                <div class="scholarship-section__field-checkbox-group">
                                    <input type="checkbox" class="scholarship-section__field-checkbox-yn-input">
                                    <label class="scholarship-section__field-checkbox-label"> No</label>
                                </div>
                            </div>
                        </div>

                        <div class="scholarship-section__field-group scholarship-section__fieldset-yn-group">
                            <div class="scholarship-section__fieldset-yn-checkbox-group">
                                <label class="scholarship-section__field-label">Have you taken an English test (IELTS, TOEFL or Others)?<span class="required__symbol">*</span></label>
                                <div class="scholarship-section__field-yn-checkbox">
                                    <div class="scholarship-section__field-checkbox-group">
                                        <input type="checkbox" class="scholarship-section__field-checkbox-yn-input">
                                        <label class="scholarship-section__field-checkbox-label"> Yes</label>
                                    </div>
                                    <div class="scholarship-section__field-checkbox-group">
                                        <input type="checkbox" class="scholarship-section__field-checkbox-yn-input">
                                        <label class="scholarship-section__field-checkbox-label"> No</label>
                                    </div>
                                </div>
                            </div>

                            <fieldset class="scholarship-section__field-group scholarship-section__field-fieldset-group">
                                <legend class="scholarship-section__field-legen">Please provide the result</legend>
                                <div class="grid-desktop-five-col grid-ipad-three-col">
                                    <div class="scholarship-section__field-textbox-group">
                                        <label class="scholarship-section__field-label">Listening<span class="required__symbol">*</span></label>
                                        <input class="scholarship-section__field-textbox-input" type="text">
                                    </div>
                                    <div class="scholarship-section__field-textbox-group">
                                        <label class="scholarship-section__field-label">Reading<span class="required__symbol">*</span></label>
                                        <input class="scholarship-section__field-textbox-input" type="text">
                                    </div>
                                    <div class="scholarship-section__field-textbox-group">
                                        <label class="scholarship-section__field-label">Writing<span class="required__symbol">*</span></label>
                                        <input class="scholarship-section__field-textbox-input" type="text">
                                    </div>
                                    <div class="scholarship-section__field-textbox-group">
                                        <label class="scholarship-section__field-label">Speaking<span class="required__symbol">*</span></label>
                                        <input class="scholarship-section__field-textbox-input" type="text">
                                    </div>
                                    <div class="scholarship-section__field-textbox-group">
                                        <label class="scholarship-section__field-label">Overall score<span class="required__symbol">*</span></label>
                                        <input class="scholarship-section__field-textbox-input" type="text">
                                    </div>
                                </div>
                            </fieldset>
                            <div class="scholarship-section__field-file-group">
                                <label class="scholarship-section__field-label">Notarised copy of IELTS/TOEFL/Other qualifications or copy of BUV Placement test result with valid date</label>
                                <input type="file" class="scholarship-section__field-file-input">
                            </div>
                        </div>



                    </div>
                    <!-- /scholarship-section__field -->

                </div>

                <div class="scholarship-form__submit">
                    <input class="scholarship-form-submit__btn scholarship-form-submit__btn--previous" type="submit" value="Previous">
                    <input class="scholarship-form-submit__btn scholarship-form-submit__btn--next" type="submit" value="Next">
                </div>
            </form>



        </div><!-- container -->
    </div><!-- scholarship -->

</body>
</html>