<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scholarship</title>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/font.css">

    <link rel="stylesheet" href="scholarship/css/style.css">
    <link rel="stylesheet" href="scholarship/css/step2.css">

</head>
<body>

    <div class="scholarship">
        <div class="container">
            
            <div class="scholarship__banner">
                <div class="scholarship-banner__logo">
                    <img class="scholarship-banner-logo__img" src="img/BUV-Logo-Transparent.png">
                </div>
                <div class="scholarship-banner__title">
                    <h3 class="scholarship-banner-title__heading">BUV SCHOLARSHIP</h3>
                </div>
            </div>

            <div class="scholarship__pagination">
                <div class="scholarship-pagination__item">
                    <a class="scholarship-pagination-item__btn" href="scholarship1.html">1</a>
                </div>
                <div class="scholarship-pagination__dash"></div>
                <div class="scholarship-pagination__item scholarship-pagination__item--active">
                    <a class="scholarship-pagination-item__btn" href="scholarship2.html">2</a>
                </div>
                <div class="scholarship-pagination__dash"></div>
                <div class="scholarship-pagination__item">
                    <a class="scholarship-pagination-item__btn" href="scholarship3.html">3</a>
                </div>
                <div class="scholarship-pagination__dash"></div>
                <div class="scholarship-pagination__item">
                    <a class="scholarship-pagination-item__btn" href="scholarship4.html">4</a>
                </div>
                <div class="scholarship-pagination__dash"></div>
                <div class="scholarship-pagination__item">
                    <a class="scholarship-pagination-item__btn" href="scholarship5.html">5</a>
                </div>
                <div class="scholarship-pagination__dash"></div>
                <div class="scholarship-pagination__item">
                    <a class="scholarship-pagination-item__btn" href="scholarship6.html">6</a>
                </div>
                <div class="scholarship-pagination__dash"></div>
                <div class="scholarship-pagination__item">
                    <a class="scholarship-pagination-item__btn" href="scholarship7.html">7</a>
                </div>
                <div class="scholarship-pagination__dash"></div>
                <div class="scholarship-pagination__item">
                    <a class="scholarship-pagination-item__btn" href="scholarship8.html">8</a>
                </div>
            </div>

            <!-- <p class="scholarship__note">
                Note: (<span class="required__symbol">*</span>) This field is required/ <span class="text__vi">Vui lòng không để trống thông tin này</span>
            </p> -->

            <form class="scholarship__form">
                <div class="scholarship__section">
                    <h3 class="scholarship-section__heading">PERSONAL INFOMATION</h3>
                    <div class="scholarship-section__field">

                        <div class="form-field-group__gap">
                            <div class="grid-col-3">
                                <div class="scholarship-section__field-textbox-group">
                                    <label class="scholarship-section__field-label scholarship-section__field-textbox-label">First name<span class="required__symbol">*</span></label>
                                    <input class="scholarship-section__field-textbox-input" type="text">
                                </div>
                                <div class="scholarship-section__field-textbox-group">
                                    <label class="scholarship-section__field-label scholarship-section__field-textbox-label">Middle name<span class="required__symbol">*</span></label>
                                    <input class="scholarship-section__field-textbox-input" type="text">
                                </div>
                                <div class="scholarship-section__field-textbox-group">
                                    <label class="scholarship-section__field-label scholarship-section__field-textbox-label">Last name<span class="required__symbol">*</span></label>
                                    <input class="scholarship-section__field-textbox-input" type="text">
                                </div>
                            </div>

                            <div class="grid-col-3">
                                <div class="scholarship-section__field-textbox-group">
                                    <label class="scholarship-section__field-label">Full name in Vietnamese (Tên tiếng việt có dấu)<span class="required__symbol">*</span></label>
                                    <input class="scholarship-section__field-textbox-input" type="text">
                                </div>
                                <div class="scholarship-section__field-textbox-group">
                                    <label class="scholarship-section__field-label">Gender<span class="required__symbol">*</span></label>
                                    <div class="grid-col-3 scholarship-section__field-gender-group">
                                        <div>
                                            <input type="checkbox">
                                            <label> Male</label>
                                        </div>
                                        <div>
                                            <input type="checkbox">
                                            <label> Female</label>
                                        </div>
                                        <div>
                                            <input type="checkbox">
                                            <label> Other</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="grid-col-3">
                                <div class="scholarship-section__field-textbox-group">
                                    <label class="scholarship-section__field-label">Email (in CAPITALS)<span class="required__symbol">*</span></label>
                                    <input class="scholarship-section__field-textbox-input" type="text">
                                </div>
                                <div class="scholarship-section__field-textbox-group">
                                    <label class="scholarship-section__field-label">Mobile phone<span class="required__symbol">*</span></label>
                                    <input class="scholarship-section__field-textbox-input" type="text">
                                </div>
                                <div class="scholarship-section__field-textbox-group">
                                    <label class="scholarship-section__field-label">National ID card number/Passport number<span class="required__symbol">*</span></label>
                                    <input class="scholarship-section__field-textbox-input" type="text">
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="scholarship-form__submit">
                    <input class="scholarship-form-submit__btn scholarship-form-submit__btn--previous" type="submit" value="Previous">
                    <input class="scholarship-form-submit__btn scholarship-form-submit__btn--next" type="submit" value="Next">
                </div>
            </form>



        </div><!-- container -->
    </div><!-- scholarship -->

</body>
</html>