<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scholarship</title>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="scholarship/css/style.css">

</head>
<body>

    <div class="scholarship">
        <div class="container">
            
            <div class="scholarship__banner">
                <div class="scholarship-banner__logo">
                    <img class="scholarship-banner-logo__img" src="img/BUV-Logo-Transparent.png">
                </div>
                <div class="scholarship-banner__title">
                    <h3 class="scholarship-banner-title__heading">BUV SCHOLARSHIP</h3>
                </div>
            </div>

            <div class="scholarship__pagination">
                <div class="scholarship-pagination__item scholarship-pagination__item--active">
                    <a class="scholarship-pagination-item__btn" href="scholarship1.html">1</a>
                </div>
                <div class="scholarship-pagination__dash"></div>
                <div class="scholarship-pagination__item">
                    <a class="scholarship-pagination-item__btn" href="scholarship2.html">2</a>
                </div>
                <div class="scholarship-pagination__dash"></div>
                <div class="scholarship-pagination__item">
                    <a class="scholarship-pagination-item__btn" href="scholarship3.html">3</a>
                </div>
                <div class="scholarship-pagination__dash"></div>
                <div class="scholarship-pagination__item">
                    <a class="scholarship-pagination-item__btn" href="scholarship4.html">4</a>
                </div>
                <div class="scholarship-pagination__dash"></div>
                <div class="scholarship-pagination__item">
                    <a class="scholarship-pagination-item__btn" href="scholarship5.html">5</a>
                </div>
                <div class="scholarship-pagination__dash"></div>
                <div class="scholarship-pagination__item">
                    <a class="scholarship-pagination-item__btn" href="scholarship6.html">6</a>
                </div>
                <div class="scholarship-pagination__dash"></div>
                <div class="scholarship-pagination__item">
                    <a class="scholarship-pagination-item__btn" href="scholarship7.html">7</a>
                </div>
                <div class="scholarship-pagination__dash"></div>
                <div class="scholarship-pagination__item">
                    <a class="scholarship-pagination-item__btn" href="scholarship8.html">8</a>
                </div>
            </div>

            <form class="scholarship__form" id="scholarship__form">
                <div class="scholarship__section">
                    <h3 class="scholarship-section__heading">You are applying for (Please check the appropriate boxes)</h3>
                    <div class="scholarship-section__field">
                        <div class="validate" id="scholarship-section__field--cb-apply">
                            <div class="scholarship-section__field-checkbox-group">
                                <input type="checkbox" class="scholarship-section__field-checkbox-input scholarship-section__field-checkbox-apply-input">
                                <label class="scholarship-section__field-checkbox-label"> The British Ambassador’s Scholarship/ President’s Scholarship/ Dean’s Scholarship</label>
                            </div>
                            <div class="scholarship-section__field-checkbox-group">
                                <input type="checkbox" class="scholarship-section__field-checkbox-input scholarship-section__field-checkbox-apply-input">
                                <label class="scholarship-section__field-checkbox-label"> Sir Graeme Davies’ Scholarship/ The Founder’s Scholarship</label>
                            </div>
                            <div class="scholarship-section__field-checkbox-group">
                                <input type="checkbox" class="scholarship-section__field-checkbox-input scholarship-section__field-checkbox-apply-input">
                                <label class="scholarship-section__field-checkbox-label"> Lion’s Heart Scholarship</label>
                            </div>
                            <div class="scholarship-section__field-checkbox-group">
                                <input type="checkbox" class="scholarship-section__field-checkbox-input scholarship-section__field-checkbox-apply-input">
                                <label class="scholarship-section__field-checkbox-label"> Talent Scholarship</label>
                            </div>
                            <div class="scholarship-section__field-checkbox-group">
                                <input type="checkbox" class="scholarship-section__field-checkbox-input scholarship-section__field-checkbox-apply-input">
                                <label class="scholarship-section__field-checkbox-label"> Key Partnership Scholarship (MOU)</label>
                            </div>
                            <div class="scholarship-section__field-checkbox-group">
                                <input type="checkbox" class="scholarship-section__field-checkbox-input scholarship-section__field-checkbox-apply-input">
                                <label class="scholarship-section__field-checkbox-label"> Education Development Scholarship</label>
                            </div>
                            <div class="scholarship-section__field-checkbox-group">
                                <input type="checkbox" class="scholarship-section__field-checkbox-input scholarship-section__field-checkbox-apply-input scholarship-section__field-group-other-cb" id="scholarship-section__field-group-other-cb">
                                <label class="scholarship-section__field-checkbox-label mr-1" for="scholarship-section__field-group-other-cb"> Others</label>
                                <input class="scholarship-section__field-textbox" type="text" placeholder="Please specify ..." id="scholarship-section__field-group-other-textbox">
                            </div>
                            <small class="error-message"></small>
                        </div>
                    </div>
                </div>
                <div class="scholarship-form__submit">
                    <input class="scholarship-form-submit__btn scholarship-form-submit__btn--next" id="scholarship-form-submit__btn--next" type="submit" value="Next">
                </div>
            </form>



        </div><!-- container -->
    </div><!-- scholarship -->

    <!-- Modal loading page -->
    <div class="modal" id="modal__loading">
        <div class="modal__overlay"></div>
        <div class="modal__content">
            <div class="loader"></div>
            <div class="loading__title">Đang chờ xử lý ...</div>
        </div>
    </div>

    <script src="js/functions.js"></script>
    <script src="js/validate.js"></script>

    <script>
        functions.cbShowHide('scholarship-section__field-group-other-cb', 'scholarship-section__field-group-other-textbox', false);

        Validator({
            form: '#scholarship__form',
            rules: [
                Validator.cbChecked('#scholarship-section__field--cb-apply')
            ],
            onSubmit: (data) => {
                // Show loading modal.
                document.getElementById("modal__loading").style.display = "block";
                
            }
        });

        // function isAnyChecked( cbs ){
        //     var checkedFlag = functions.isCheckedbox(cbs);
        //     var groupCbEle = document.querySelector('#scholarship-section__field--cb-apply');
        //     groupCbEle.querySelector('.error-message').innerHTML = checkedFlag ? "" : "You must select at least one of these /Bạn cần lựa chọn ít nhất một loại học bổng!";
        //     return checkedFlag;
        // }
    
        // var cbs = document.querySelectorAll('.scholarship-section__field-checkbox-apply-input');
    
        // cbs.forEach(cb => {
        //     cb.addEventListener("click", function(){ 
        //         isAnyChecked(cbs);
        //     });
        // });

        // var formElement = document.querySelector('#scholarship__form');
        // formElement.onsubmit = function(e){
        //     e.preventDefault();
        //     if( isAnyChecked(cbs) ){
        //         formElement.submit();
        //     }
        // };

    </script>

</body>
</html>