<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Undergraduate</title>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/font.css">

    <link rel="stylesheet" href="undergraduate/css/style.css">

</head>
<body>

    <div class="undergraduate">
        <div class="container">
            
            <div class="undergraduate__banner">
                <div class="undergraduate-banner__logo">
                    <img class="undergraduate-banner-logo__img" src="img/BUV Logo Transparent.png">
                </div>
                <div class="undergraduate-banner__title">
                    <h3 class="undergraduate-banner-title__heading">Application form for addmission</h3>
                </div>
            </div>

            <p class="undergraduate__note">
                Note: (<span class="required__symbol">*</span>) This field is required/ <span class="text__vi">Vui lòng không để trống thông tin này</span>
            </p>

            <div class="undergraduate__section">
                <h3 class="undergraduate-section__heading">SECTION A: PERSONAL DETAILS/ THÔNG TIN CÁ NHÂN</h3>
            </div>

        </div><!-- container -->
    </div><!-- undergraduate -->

</body>
</html>