.scholarship-section__field-checkbox-group{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: var(--space-fir);
}

.scholarship-section__field-checkbox-label{
    flex-basis: 90%;
}

.scholarship-section__field-checkbox-input{
    width: 20px;
    height: 20px;
}

@media (max-width: 576px) {
    .scholarship-section__field-checkbox-label{
        font-size: 13px;
    }
}