.scholarship__banner{
    height: 290px;
    background-image: url('../img/banner.png');
    background-position: left;
    background-size: auto 290px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: var(--space-thr);
}

.scholarship-banner-logo__img{
    width: 120px;
    background-color: white;
}

.scholarship-banner-title__heading{
    background-color: var(--color-sec);
    padding: 15px 15px 7px;
    width: 310px;
    line-height: 25px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: BrandonBld;
}

.scholarship-section__field{
    margin-top: var(--space-fou);
}

.scholarship-section__field-group{
    margin: var(--space-fir) 0;
    width: 100%;
}

.scholarship-section__field-file-group{
    display: flex;
    border: 1px solid var(--color-bor);
    padding: 30px 10px;
    margin-top: var(--space-thr);
    align-items: center;
    gap: var(--space-fir);
    background-color: var(--color-bac);
}

.scholarship-section__field-yn-group{
    display: flex;
    border: 1px solid var(--color-bor);
    padding: 30px 10px;
    margin-top: var(--space-thr);
    align-items: center;
    gap: var(--space-fir);
    background-color: var(--color-bac);
}

.scholarship-section__field-textbox-label,
.scholarship-section__field-textbox-input{
    display: block;
    width: 100%;

}

.scholarship-section__field-textbox-input{
    height: 35px;
    border: 1px solid var(--color-bor);
}

.scholarship-section__field-yn-checkbox{
    display: flex;
    gap: var(--space-sec);
    align-items: center;
}

.scholarship-section__field-fieldset-group{
    padding: 20px 10px;
    border: 1px solid var(--color-bor);
    background-color: var(--color-bac);
    margin-top: var(--space-fir);
}

.scholarship-form__submit{
    margin: var(--space-fou) 0;
}

.scholarship-form-submit__btn{
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: var(--space-fir);
}

.scholarship-form-submit__btn--next{
    padding: 10px 50px;
    background-color: var(--color-fou);
}

.scholarship-form-submit__btn--previous{
    padding: 10px 30px;
    background-color: var(--color-thr);
}

.scholarship-form-submit__btn--next:hover{
    background-color: var(--color-fiv);
}

.scholarship-form-submit__btn--previous:hover{
    background-color: var(--color-sec);
}

@media (max-width: 576px) {

    .scholarship__banner{
        height: 230px;
        padding: var(--space-mob);
    }

    .scholarship-banner-title__heading{
        font-size: 20px;
        padding: 15px 15px 7px;
        width: 220px;
        line-height: 18px;
    }
}

@media (min-width: 577px) {
    .scholarship-banner-title__heading{
        font-size: 30px;
        padding: 15px 15px 7px;
        width: 310px;
        line-height: 25px;
    }
}

@media (max-width: 1200px) {
    .scholarship__banner,
    .scholarship__form,
    .scholarship__pagination{
        padding: 0 var(--space-mob);
    }
}



.scholarship__note{
    margin: var(--space-fou) 0;
    font-style: italic;
}

.scholarship-section__heading{
    margin-top: var(--space-fou);
    font-size: 28px;
    font-family: BrandonBld;
}


@media (max-width: 576px) {
    .scholarship-section__heading{
        margin-top: var(--space-thr);
        font-size: 20px;
    }
}

.scholarship__pagination {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: var(--space-thr);
}

.scholarship-pagination__item{
    background-color: var(--color-thr);
    border-radius: 50%;
    color: white;
}

.scholarship-pagination-item__btn{
    display: block;
    text-decoration: none;
    color: white;
}

@media (min-width: 577px) {
    .scholarship__pagination {
        margin-top: var(--space-fou);
    }

    .scholarship-pagination-item__btn{
        padding: 10px 14px;
    }
}

.scholarship-pagination__item:not(.scholarship-pagination__item--active):hover{
    background-color: var(--color-sec);
}

.scholarship-pagination__dash{
    background-color: var(--color-thr);
    width: 30px;
    height: 5px;
}

.scholarship-pagination__item--active{
    background-color: var(--color-fir);
    font-size: 20px;
}

.scholarship-pagination__item--active .scholarship-pagination-item__btn{
    cursor: default;
}

@media (max-width: 576px) {

    .scholarship-pagination__item{
        padding: 8px 12px;
    }

    .scholarship-pagination__dash{
        background-color: var(--color-thr);
        width: 12px;
        height: 5px;
    }

    .scholarship-pagination__item--active{
        background-color: var(--color-fir);
        padding: 10px 14px;
    }
}

.scholarship-section__field-legen{
    font-weight: bold;
}

.scholarship-section__field-label{
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -.042em;
    color: #333;
    display: block;
    width: 100%;
}

@media (max-width: 576px) {

    .scholarship-section__field-label{
        font-size: 14px;
    }
}


.scholarship-section__field-textbox{
    height: 35px;
    border: 1px solid var(--color-bor);
    display: block;
    width: 100%;
}

.scholarship-section__field-selectbox{
    width: 100%;
    height: 35px;
    border: 1px solid var(--color-bor);
    padding: 5px;
}

.scholarship-section__field-checkbox-group{
    display: flex;
    align-items: center;
}

.scholarship-section__field-checkbox-label{
    flex-basis: 90%;
}

.scholarship-section__field-checkbox-input{
    width: 18px;
    height: 18px;
}

@media (max-width: 576px) {
    .text-italic,
    .scholarship-section__field-checkbox-label{
        font-size: 13px;
    }
}


/* Layout */

.grid-three-col{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--space-sec);
}

.grid-four-col{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: var(--space-sec);
}

.grid-five-col{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: var(--space-sec);
}


/* Layout iphone */
@media (min-width: 576px) {

    .grid-iphone-two-col{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: var(--space-sec);
    }
    
    .grid-iphone-three-col{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: var(--space-sec);
    }
    
}


/* Layout ipad */
@media (min-width: 768px) {

    .grid-ipad-two-col{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: var(--space-sec);
    }
    
    .grid-ipad-three-col{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: var(--space-sec);
    }

    .grid-ipad-four-col{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: var(--space-sec);
    }

    .grid-ipad-five-col{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        column-gap: var(--space-sec);
    }
    
}

/* Layout desktop */
@media (min-width: 1050px) {

    .grid-desktop-two-col{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: var(--space-sec);
    }
    
    .grid-desktop-three-col{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: var(--space-sec);
    }

    .grid-desktop-four-col{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: var(--space-sec);
    }

    .grid-desktop-five-col{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        column-gap: var(--space-sec);
    }
    
}

